body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #323232;
}

header {
    display: flex;
    align-items: center;
    color: white;
    padding: 10px;
    background-color: #414141;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

    header > ul {
        display: flex;
        list-style: none;
        gap: 15px;
    }

        header > ul > li > a, #profile-icon > a, header > h1 > a {
            color: white;
            text-decoration: none;
        }

        header > ul > li, header > h1 {
            cursor: pointer;
        }

main {
    color: white;
    text-align: center;
}

#profile-icon {
    border-radius: 10px;
    margin-left: auto;
    transition: background-color 0.3s ease-in-out;
}

#profile-img {
    transition: filter 0.3s ease-in-out;
}

#profile-icon:hover {
    background-color: white;
}

    #profile-icon:hover #profile-img {
        filter: invert(1);
    }

table {
    justify-self: center;
}

#panel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    margin: 50px
}

#output-section {
    background-color: #1f1f1f;
    border-radius: 10px;
}

    #output-section p {
        text-align: left;
        padding-left: 2%;
    }
