@page
@model Lab6.Pages.SalesforceModel
@{
    ViewData["Title"] = "Salesforce";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/centralTable.css" />
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <header>
        <h1><a href="Control">Лабораторна робота №5</a></h1>
        <ul>
            <li><a href="Lab1">Лабораторна робота №1</a></li>
            <li><a href="Lab2">Лабораторна робота №2</a></li>
            <li><a href="Lab3">Лабораторна робота №3</a></li>
            <li><a href="CentralTable">Центральна таблица</a></li>
            <li><a href="VehicleCategoryInformation">VehicleCategoryInformation</a></li>
            <li><a href="ModelInformation">ModelInformation</a></li>
            <li><a href="ConvertToUkraineTime">ConvertToUkraineTime</a></li>
            <li><a href="Salesforce">Salesforce</a></li>
        </ul>
        <div id="profile-icon">
            <a href="Profile">
                <img src="~/images/profile-white.png" id="profile-img">
            </a>
        </div>
    </header>

    <main>
        <div id="panel">
            <div id="input-section">
                <h2>Find Booking Information</h2>
                <label for="customer-id-input">Customer ID:</label>
                <input type="number" id="customer-id-input" min="1" placeholder="Enter customer ID" required>

                <h3>Select Date</h3>
                <label for="day-input">Day:</label>
                <input type="number" id="day-input" min="1" max="31" required>
                <label for="month-input">Month:</label>
                <input type="number" id="month-input" min="1" max="12" required>
                <label for="year-input">Year:</label>
                <input type="number" id="year-input" min="1900" required>

                <button id="send-btn">Send</button>
            </div>

            <div id="output-section">
                <h2>Booking Information</h2>
                <table id="result-table">
                    <thead>
                        <tr>
                            <th>Booking ID</th>
                            <th>Status Code</th>
                            <th>Customer ID</th>
                            <th>Reg Number</th>
                            <th>Date From</th>
                            <th>Date To</th>
                            <th>Confirmation Sent</th>
                            <th>Payment Received</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </main>
</body>
<script src="~/js/salesforce.js"></script>
</html>
