<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Контроль API</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
  <body>
    <header>
      <h1><a href="Control">Лабораторна робота №5</a></h1>
      <ul>
        <li><a href="Lab1">Лабораторна робота №1</a></li>
        <li><a href="Lab2">Лабораторна робота №2</a></li>
        <li><a href="Lab3">Лабораторна робота №3</a></li>
        <li><a href="ControlAPI">ControlAPI</a></li>
      </ul>
      <div id="profile-icon">
        <a href="Profile">
          <img src="assets/resources/profile-white.png" id="profile-img">
        </a>
      </div>
    </header>

    <main>
      <h2>Booking Information</h2>

      <label for="api-version">Select API Version:</label>
      <select id="api-version" [(ngModel)]="apiVersion">
        <option value="v1">Version 1</option>
        <option value="v2">Version 2</option>
      </select>

      <form id="bookingForm">
        <label for="customer-id-input">Customer ID:</label>
        <input type="number" id="customer-id-input" min="1" placeholder="Enter customer ID" [(ngModel)]="customerId" [ngModelOptions]="{standalone: true}" required>

        <h3>Select Date</h3>
        <label for="day-input">Day:</label>
        <input type="number" id="day-input" min="1" max="31" [(ngModel)]="day" [ngModelOptions]="{standalone: true}" required>

        <label for="month-input">Month:</label>
        <input type="number" id="month-input" min="1" max="12" [(ngModel)]="month" [ngModelOptions]="{standalone: true}" required>

        <label for="year-input">Year:</label>
        <input type="number" id="year-input" min="1900" [(ngModel)]="year" [ngModelOptions]="{standalone: true}"required>

        <button type="button" (click)="getBookingInfo()">Get Booking Info</button>
      </form>
      <pre *ngIf="response" id="response">{{ response }}</pre>
    </main>
  </body>
</html>
