<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../wwwroot/css/control.css" />
    <title>Title</title>
</head>
<body>
<header>
    <h1>Лабораторна робота №5</h1>
    <ul>
        <li asp-area="" asp-page="/Control"></li>
        <li><a href="#program1">Лабораторна робота №1</a></li>
        <li><a href="#program2">Лабораторна робота №2</a></li>
        <li><a href="#program3">Лабораторна робота №3</a></li>
    </ul>
    <div id="profile-icon">
        <a href="#profile">
            <img src="">
        </a>
    </div>
</header>

<main>
    <section id="welcome">
        <h1>Ласкаво просимо до панелі управління!</h1>
        <p>Ця панель управління призначена для управління різними підпрограмами та користувачами.</p>
    </section>
</main>
</body>
</html>