<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../wwwroot/css/index.css" asp-append-version="true" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <form id="registration-form" action="/Home/RegistrationAuth0" method="post">
        <h2>Форма реєстрації</h2>
        <label for="username-reg">Ім'я користувача:</label><br>
        <input type="text" id="username-reg" name="username" maxlength="50" required><br>

        <label for="fullname">ФІО:</label><br>
        <input type="text" id="fullname-reg" name="fullname" maxlength="500" required><br>

        <label for="password-reg">Пароль:</label><br>
        <input type="password" id="password-reg" name="password"
               pattern="(?=.*\d)(?=.*[@@_$!%*?&])(?=.*[A-Z]).{8,16}"
               title="Пароль повинен містити 1 цифру, 1 спеціальний знак, 1 велику літеру і бути довжиною від 8 до 16 символів"
               required><br>

        <label for="passwordConfirm-reg">Підтвердження паролю:</label><br>
        <input type="password" id="passwordConfirm-reg" name="passwordConfirm"
               pattern="(?=.*\d)(?=.*[@@_$!%*?&])(?=.*[A-Z]).{8,16}"
               title="Пароль повинен містити 1 цифру, 1 спеціальний знак, 1 велику літеру і бути довжиною від 8 до 16 символів"
               required><br>

        <label for="phone-reg">Телефон (формат Україна):</label><br>
        <input type="tel" id="phone-reg" name="phone"
               pattern="\+?38[0-9]{10}"
               placeholder="+380XXXXXXXXX"
               title="Введіть телефон у форматі +380XXXXXXXXX"
               required><br>

        <label for="email-reg">Електронна адреса:</label><br>
        <input type="email" id="email-reg" name="email" required><br>

        <input type="submit" value="Зареєструватися">
    </form>
    <form id="login-form" action="/Home/LoginAuth0" method="post">
        <h2>Форма входу</h2>
        <label for="username-login">Ім'я користувача:</label><br>
        <input type="text" id="username-login" name="username" required><br>

        <label for="password-login">Пароль:</label><br>
        <input type="password" id="password-login" name="password" required><br>

        <input type="submit" value="Увійти">
    </form>
</body>
</html>
